/* THESE ARE MAPPED SEE: ./style.css.map */
$light-grey: #aaa;
$super-light-grey: #ddd;
$stout: #393939;
$foam: #fff5ee;
$white: #fff;
$break-small: 991px;

body {
  padding: 0px !important;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: $foam !important;

  @media screen and (max-width: $break-small) {
    padding: 15px;
  }
}

a {
  color: #00B7FF;
}

.nav-header {
  margin-bottom: 40px;
  background-color: $stout;
  padding: 20px;

   h1 {
     font-weight: bold;
     color: $super-light-grey;
   }
}

.main-container,
.beer-form {
  max-width: 700px;
  margin: auto;
  padding: 50px;
  background-color: $white;
  margin-bottom: 50px;

  @media screen and (max-width: $break-small) {
    padding: 20px;
    max-width: auto;
  }
}

#alertBox {
  position: fixed;
  z-index: 100;
  opacity: 0;
  left: 50%;
  top: 75px;
  transform: translate(-50%, 0%);
  animation: fadeinout 3s linear forwards;
}

@keyframes fadeinout {
  50% { opacity: 1; }
}

.beer-form {
  border: 2px solid $super-light-grey;

  .form-header {
    margin-bottom: 40px;
    text-align: center;
    color: $light-grey;
  }

  .buttons-container {
    margin-top: 40px;
    text-align: center;
  }
}

.beer-list {
  margin-top: 20px;
}

.beer-container {
  border: 1px solid $light-grey;
  padding: 10px;

  .beer-details {
    display: flex;
    justify-content: space-between;
    flex-basis: 0;
    flex-grow: 1;

    .flex-item {
      flex: 1;
      margin-right: 10px;

      &:last-child {
        margin-right: 0;
      }
    }

    .center {
      flex: 2;      
    }

    .image-container {
      width: 100px;
      height: 100px;
      border: 1px solid $super-light-grey;
      margin: 10px;
      font-size: 40px;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $super-light-grey;
    }

    .name {
      font-weight: bold;
      font-size: 20px;
      color: $stout;
    }

    .info {
      font-size: 12px;
      color: $light-grey;

      &.right {
        text-align: right;
      }
    }
  }

  .buttons-container {
    margin-top: 10px;
    text-align: right;
  }
}
